
FINERACT_API_URLS=https://sandbox.mifos.community,https://localhost:8443

FINERACT_API_URL=https://sandbox.mifos.community:8443

FINERACT_API_PROVIDER=/fineract-provider/api

FINERACT_API_VERSION=/v1

FINERACT_PLATFORM_TENANT_IDENTIFIER=default

MIFOS_DEFAULT_LANGUAGE=en-US

MIFOS_SUPPORTED_LANGUAGES=en-US,fr-FR
